In [52]:
a, b, c =  tuple(map(int, input().split()))

4 6 78

In [53]:
a

4

In [5]:
# Diccionarios
tels = {'Ricardo': 4141414, 'Luz': 4000000, 'Juan': 4111112}

In [20]:
# acceder
print(tels['Juan'])

var = input('dame el nombre: ')

if var in tels:
    print(tels[var])
else:
    tel = input('dame el tel: ')
    tels[var] = tel

4111112
dame el nombre: lele
dame el tel: 45654

In [25]:
lista_salon = {'Angel': ['0123121', '23', '3/10/92'],
               'Tete': ['1231212', '19', '4/7/93']}

In [35]:
# recorer

for key in lista_salon:
    print(key, lista_salon[key])

Angel {'Edad': '23', 'Cumple': '3/10/92', 'Mat': '0123121'}
Tete {'Edad': '19', 'Cumple': '4/7/93', 'Mat': '1231212'}

In [28]:
lista_salon['Angel']

['0123121', '23', '3/10/92']

In [31]:
lista_salon = {'Angel': {'Mat': '0123121', 'Edad': '23', 'Cumple': '3/10/92'},
               'Tete': {'Mat': '1231212', 'Edad': '19', 'Cumple': '4/7/93'}}

In [37]:
lista_salon['Angel']['Edad']

'23'

In [55]:
li = ['lasagna', 'Tacos', 'tortas', 'tamales']

for i, comida in enumerate(li, start=1):
    print(i, comida)
    
for x in enumerate(li):
    print(x)
    
for comida in sorted(li, key=len):
    print(comida)
    
for comida in reversed(li):
    print(comida)

1 lasagna
2 Tacos
3 tortas
4 tamales
(0, 'lasagna')
(1, 'Tacos')
(2, 'tortas')
(3, 'tamales')
Tacos
tortas
lasagna
tamales
tamales
tortas
Tacos
lasagna

In [61]:
for tam_com in map(len, li):
    if tam_com < 6:
        print('es menor a 6')
    else:
        print('es mayor o igual a 6')

es mayor o igual a 6
es menor a 6
es mayor o igual a 6
es mayor o igual a 6

In [68]:
bin(145)
hex(64)
int('0x4f', base=16)

79

In [72]:
listita = ['54y4y', '564564', 'hola', 'lelel43', '45345']

for num in filter(str.isdigit, listita):
    print(num)

564564
45345

In [79]:
# archivos

ar = open('lelele.txt', 'w')
ar.write('holi')
ar.close()

In [82]:
print(eval('4+3+4535'))

4542